
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: aliceblue;
    overflow-x: hidden;
    background-color:#000000;
}
.loader{
  width: 100%;
  height: 100%;
  background-color: #001A14;
  position: relative;
  padding-top: 1px;
}
.loader h1{
  color: white;
  font-size: 7vw;
  font-weight: 900;
  text-align: center;
  margin:7vw 0 1vw 0;
  text-transform: uppercase;
}
.loader h2{
  text-align: center;
  font-size: 1.6vw;
  font-weight: 800;
}
.cont1{
  height: 15vh;
  display: flex;
  align-items: end;
  white-space: nowrap;
  margin-top: 6vw;
}
.cont1 h1{
  font-size: 3vw;
  color: transparent;
  -webkit-text-stroke: 1px white;
  animation-name: anime;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.journey{
  display: flex;
  font-size: 2vw;
  margin-top: 1vw;
  justify-content: center;
  gap: 10vw;
  text-transform: uppercase;
  align-items: center;
}
.journey h3{
  font-weight: 900;
}
.journey button {
  background-color: #036D59;
  color: white;
  border: 1px solid white;
  padding: 2vw 3vw;
  border-radius: 90px;
  box-shadow: 1px 0px 5px 1px white;
  font-size: 2vw;
  cursor: pointer;
}
.journey span {
  margin-left: 2.5vw;
  font-size: 2.6vw;
}
@keyframes anime {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}
.main{
  width: 100%;
  position: relative;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 2vw;
  position: sticky;
  top: 0%;
  left: 0%;
  backdrop-filter: blur(10px);
  z-index: 999 !important;
}
.nav h1{
  font-size: 2vw;
  text-transform: uppercase;
}
.head{
  display: flex;
  align-items: center;
  gap: 2vw;
}
.head img{
  width: 6vw;
  height: 6vw;
}
.nav a{
  text-decoration: none;
  color: white;
  font-size: 1.3vw;
  text-transform: uppercase;

}
.menu{
  display: flex;
  gap: 3vw;
}
.page1{
  background-color: #001A14;
  width: 100%;
  height: 57vw;
  margin-top: -12vw;
}
.cont2{
  margin-top: 5vw;
  padding: 0 2vw;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.bx1{
  height: 40vw;
  width: 40vw;
  position: relative;
  margin-top: 10vw;
}
.bx1 h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.bx1 video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid white;
  border-radius: 20%;
  box-shadow: 0px 0px 20px 1px white;
}
.bx2{
  margin-top: 12vw;
}
.bx2 h1{
  text-transform: uppercase;
  font-size: 2vw;
  margin-bottom: 3vw;
  line-height: 3vw;
}
.bx2 h2{
  font-size: 1.4vw;
  line-height: 2vw;
  font-weight: 200;
}
.bx3{
  height: 15vw;
  grid-column: 2;
  margin-top: -10vw;
}
.bx3 h4{
  font-size: 1.2vw;
  font-weight: 200;
}
.page2{
  background-color: #001A14;
  width: 100%;
  height: 60vw;
  margin-top: -10vw;
  padding-top: 1vw;
}
.page2 h1{
  display: flex;
  justify-self: center;
  font-size: 7vw;
  font-weight: 300;
  color: white;
  margin-top: 10vw;
  width: fit-content;
  text-transform: uppercase;
  padding-bottom: 1vw;
}
.page2 h3{
  font-size: 1.5vw;
  font-weight: 100;
  padding: 3vw;
}
.case{
  padding: 1vw 3vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.case1{
background: rgba(14, 110, 86, 0.47);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(20px);
position: relative;
border: 1px solid rgba(251, 255, 254, 0.99);
&:hover{
  background-color: rgba(14, 110, 86, 1);
  transition :all  ease-in-out 0.2s;
}
}
.box1 video{
  position: absolute;
  height: 12vw;
  width: 12vw;
  z-index: 999;
  border: 1px solid white ;
  box-shadow: 0px 0px 5px 1px white;
  object-fit: cover;
  border-radius: 50%;
  display: none;
}
.box2 video{
  position: absolute;
  height: 12vw;
  width: 12vw;
  z-index: 999;
  border: 1px solid white ;
  box-shadow: 0px 0px 5px 1px white;
  object-fit: cover;
  border-radius: 50%;
  display: none;
}
.box3 video{
  position: absolute;
  height: 12vw;
  width: 12vw;
  z-index: 999;
  border: 1px solid white ;
  box-shadow: 0px 0px 5px 1px white;
  object-fit: cover;
  border-radius: 50%;
  display: none;
}
.page3{
  width: 100%;
  height: 117vw;
  position: relative;
}
.bacimg{
  width: 100%;
  height: 100%;
  opacity: 0.7;
  filter: blur(4px);
  object-fit: cover;
  position:absolute;
}
.page3 h1{
  filter: brightness(1000%);
  text-transform: uppercase;
  font-size: 6vw;
  text-align: center;
  margin-top: 5vw;
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 2px white;
  &:hover{
    color: white;
    -webkit-text-stroke: none;
    font-weight: 200;
  }
}
.cont4{
  width: 100%;
  height: 84vw;
  display: grid;
  grid-template-columns: 33.33% 33.33% 34%;
  grid-template-rows: 50% 50%;
  padding: 0 2vw ;
  gap: 1vw;
  margin-top: 5vw;
}
.con3, .con1, .con2{
  width: 30vw;
  height: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(200px);
  box-shadow: 0px 0px 5px 1px white;
  border-radius: 50px;
}
.circle{
  margin-top: 1vw;
  width: 75%;
  border-radius: 50%;
  height: 57%;
  border: 1px solid white;
  box-shadow: 0px 0px 5px 1px white;
  position: relative;
}
.circle img{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: brightness(20%);
}
.circle h2{
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5vw;
  text-transform: uppercase;
  width: 20vw;
  text-align: center;
  font-weight: 100;
}
.con1:hover, .con2:hover, .con3:hover{
  box-shadow: 0px 0px 10px 1px white;
  transform: scale(1.05);
}
.con1 h3, .con2 h3, .con3 h3{
  margin: 2vw 1vw 0 1vw;
  font-weight: 100;
  text-align: center;
  font-size: 1.35vw;
}
.con1 button, .con2 button, .con3 button{
  margin-top: 1vw;
  padding: 1vw 3vw;
  background-color: white;
  border: 1px solid black;
  border-radius: 50px;
  font-size: 1.3vw;
  font-weight:200;
  cursor: pointer;
}
.marque{
  display: flex;
  flex-direction: column;
}
.mark1{
  height: 7vw;
  margin-top: 4vw;
  white-space: nowrap;
  display: flex;
  align-items: end;
  overflow: hidden;
}
.mark1 h1{
  animation: anim1 10s infinite linear;
}
.mark2 h1{
  animation: anim2 10s infinite linear;
}
.mark2{
  height: 7vw;
  white-space: nowrap;
  display: flex;
  align-items: end;
  overflow: hidden;
}
@keyframes anim1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
  
}
@keyframes anim2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.page4{
  width: 100%;
  height: 80vw;
  background-color: #001A14;
  padding-top: 1px;
}
.page4 h1{
  text-align: center;
  font-size: 6vw;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 3vw;
}
.mem1{
  display: flex;
  width: 100%;
  height: 10vw;
  margin-top: 8vw;
  align-items: center;
  padding: 0 2vw 0 5vw;
}
.mem3{
  display: flex;
  width: 100%;
  height: 10vw;
  margin-top: 5vw;
  align-items: center;
  padding: 0 2vw 0 5vw;
}
.pic{
  width: 15vw;
  height: 15vw;
  border: 5px double white;
  border-radius: 50%;
  z-index: 9;
}
.pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.det{
  background-color: #02372e;
  width: 87%;
  height: 10vw;
  padding: 1vw 6vw;
  margin-left: -4vw;
  border-radius:40px ;
}
.det h1{
  margin-top: 0vw;
  text-align: start;
  font-size: 1.5vw;
}
.det h3{
  text-align: start;
  font-size: 1.1vw;
  font-weight: 100;
}
.det h5{
  margin-top: 1vw;
  font-size: 1vw;
  font-weight: 100;
}
.mem2, .mem4{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 10vw;
  margin-top: 5vw;
  align-items: center;
  padding: 0 2vw 0 5vw;
}
.det2{
  background-color: #02372e;
  width: 87%;
  height: 10vw;
  padding: 1vw 6vw;
  margin-right: -3vw;
  border-radius:40px ;
}
.det2 h1{
  margin-top: 0vw;
  text-align:end;
  font-size: 1.5vw;
}
.det2 h3{
  text-align: end;
  font-size: 1.1vw;
  font-weight: 100;
}
.det2 h5{
  text-align:start;
  margin-top: 1vw;
  font-size: 1vw;
  font-weight: 100;
}
.page5{
  width: 100%;
  height: 57vw;
  background-color: #0f0e0e;
  padding-top: 1px;
}
.page5 h1{
  text-align: center;
  font-size: 6vw;
  font-weight: 200;
  text-transform: uppercase;
  margin: 2vw 0;
}
.container{
  margin-top: 7vw;
  width: 100%;
  height: 35vw;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 2vw;
  gap: 1vw;
}
.left{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  gap: 2vw;
}

.lol{
  width: 35vw;
  height: 5vw;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-size: 1.5vw;
  font-weight: 900;
}
.message{
  width: 35vw;
  height: 10vw;
  border-radius: 20px;
  border: none;
  text-align:center;
  font-size: 1.5vw;
  font-weight: 900;
}
.left button{
  border-radius: 20px;
  font-size: 1.6vw;
  text-transform: uppercase;
  font-weight: 100;
  border: none;
  background-color: rgb(96, 124, 156);
  color: white;
  height: 4vw;
  width: 12vw;
}
form{
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
}
.page5 h3{
  text-align: center;
  font-weight: 100;
  margin-top: 2vw;
  font-size: 1.2vw;
}
.right{
  padding: 0 4vw;
}
.upper{
  width: 100%;
  height: 18vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  border-bottom: 1px solid white;
}
.locate{
  height: 5vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.locate h3{
  font-size: 2vw;
  text-transform: uppercase;
  margin-top: 0vw;
}
.phone{
  height: 5vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.phone h3{
  font-size: 2vw;
  text-transform: uppercase;
  margin-top: 0vw;
}
.mail{
  height: 5vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mail a{
  font-size: 1.7vw;
  text-decoration: none;
  color: white;
  margin-top: 0vw;
}
.locate img, .phone img, .mail img{
  width: 3vw;
  height: 3vw;
}
.icon{
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid white;
}
.icon img{
  width: 4vw;
  height: 4vw;
}
.right h2{
  margin-top: 3vw;
  font-weight: 100;
  font-size: 1.3vw;
  text-transform: uppercase;
  text-align: center;
}
.head img:last-child, .deck {
  display: none;
}
@media (max-width:600px) {
  .loader h1{
    font-size: 7vh;
    margin:10vh 0 1vh 0;
  }
  .loader h2{
    font-size: 2.5vh;
    margin-top: 5vh;
  }
  .cont1{
    height: 15vh;
    margin-top: 3vh;
  }
  .cont1 h1{
    font-size: 6vh;
    color: white;
    font-weight: 300;
    animation-duration: 50s;
  }
  .journey{
    flex-direction: column;
    font-size: 2vw;
    margin-top: 7vh;
    gap: 3vh;
    padding: 0 2vh;
    text-align: center;
  }
  .journey h3{
    font-size: 4vh;
    line-height: 5vh;
    font-weight: 500;
  }
  .journey button {
    border: 1px solid white;
    padding: 1.5vh 3vh;
    font-size: 3vh;
  }
  .journey span {
    font-size: 3vh;
  }
  .nav {
    padding: 0vw 2vh;
    width: 100%;
    height: 10vh;
    z-index: -1;
  }
  .nav h1{
    font-size: 2.5vh;
  }
  .head{
    justify-content: space-between;
    gap: none;
    width: 100%;
    padding-right: 0 3vh;
    height:5vh
  }
  .head h1{
    font-weight: 500;
    font-size: 2.5vh;
  }
 .head img:nth-child(1) {
    width: 10vh;
    height: 10vh;
  }
  .head img:last-child {
    display: block;
    width: 5vh;
    height: 5vh;
  }
  .menu{
    display: none;
  }
  .page1{
    height: 185vh;
    margin-top: -15vh;
    padding-top: 1vh;
    position: relative;
  }
  .cont2{
    margin-top: 12vh;
    padding: 0 1vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .bx1{
    height: 70vh;
    width: 100%;
    margin-top: 6vh;
  }
  .bx1 h1{
    font-size:5vh;
  }
  .bx1 video{
    border-radius: 50px;
    box-shadow: 0px 0px 10px 1px white;
  }
  .bx2{
    margin-top: 6vh;
  }
  .bx2 h1{
    font-size: 4vh;
    margin-bottom: 3vw;
    line-height: 4vh;
    text-align: center;
  }
  .bx2 h2{
    text-align: center;
    font-size: 3vh;
    line-height: 3.2vh;
    font-weight: 400;
    margin-top: 4vh;
  }
  .bx3{
    height: 15vh;
    margin-top: 4vh;
  }
  .bx3 h4{
    text-align: center;
    font-size: 3vh;
    font-weight: 500;
  }
  .page2{
    height: 97vh;
    margin-top: -6vh;
  }
  .page2 h1{
    font-size: 6vh;
    font-weight: 400;
    margin-bottom: 5vh;
  }
  .page2 h3{
    font-size: 2.5vh;
    font-weight: 300;
    padding: 2vh;
  }
  .case{
    gap: 5vh;
  }
  .box1 video, .box2 video, .box3 video{
    opacity: 0;
  }
  .page3{
    width: 100%;
    height: 570vh;
    position: relative;
    overflow: hidden;
  }
  .page3 h1{
    font-size: 6vh;
    margin: 5vh 0;
    font-weight: 400;
    color: white;
  }
  .cont4{
    width: 100%;
    height: 450vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 17% ;
    padding: 0 2vw ;
    gap: 1vw;
    margin-top: 5vw;
  }
  .con3, .con1, .con2{
    width: 100%;
    height: 70vh;
    border-radius: 20px;
  }
  .circle{
    margin-top: 0vh;
    width: 100%;
    border-radius: 20px;
    height: 60%;
    border: none;
    box-shadow:none;
  }
  .circle img{
    border-radius: 20px;
    filter: brightness(36%);
  }
  .circle h2{
    font-size: 6vh;
    text-transform: uppercase;
    width: 20vw;
    text-align: center;
    width: 100%;
    font-weight: 400;
  }
  .con1 h3, .con2 h3, .con3 h3{
    margin: 2vh 1vh 0vh 1vh;
    font-weight: 100;
    text-align: center;
    font-size:2.3vh;
  }
  .con1 button, .con2 button, .con3 button{
    margin-top: 2vh;
    padding: 2vh 6vh;
    border-radius: 20px;
    font-size: 2.8vh;
    font-weight:400;
  }
  .marque{
    margin-top: 5vh;
  }
  .mark1{
    height: 12vh;
  }
  .mark2{
    height: 12vh;
    margin-top: -4vh;
  }
  .page4{
    height: 105vh;
    background-color: #001A14;
    margin-top: -75vh;
    filter: brightness(100%);
  }
  .page4 h1{
    filter: brightness(100%);
    font-size: 6vh;
    font-weight: 400;
    margin-top: 3vh;
  }
  .mem1{
    display: flex;
    width: 100%;
    height: 20vh;
    margin-top: 8vw;
    align-items: center;
    padding: 0 2vw 0 5vw;
  }
  .mem3{
    display: flex;
    width: 100%;
    height: 20vh;
    margin-top: 10vw;
    align-items: center;
    padding: 0 2vw 0 5vw;
  }
  .pic{
    width: 15vh;
    height: 13vh;
  }
  .det{
    width: 100%;
    height: 15vh;
    padding: 3vh 6vh;
    margin-left: -4vh;
    border-radius:40px ;
  }
  .det h1{
    margin-top: -1.5vh;
    font-size: 1.7vh;
  }
  .det h3{
    font-size: 1.3vh;
    font-weight: 400;
    margin-top: 0.5vh;
  }
  .det h5{
    margin-top: 1vh;
    font-size: 1vh;
    font-weight: 500;
  }
  .mem2, .mem4{
    width: 100%;
    height: 10vh;
    margin-top: 5vh;
    padding: 0 2vh 0 5vh;
  }
  .det2{
    width: 100%;
    height: 15vh;
    padding: 3vh 6vh;
    margin-left: -4vh;
    border-radius:40px ;
  }
  .det2 h1{
    margin-top: -2vh;
    font-size: 1.7vh;
  }
  .det2 h3{
    margin-top: 1vh;
    font-size: 1.3vh;
    font-weight: 400;
  }
  .det2 h5{
    margin-top: 1vw;
    font-size: 1vh;
    font-weight: 500;
  }
  .page5{
    height: 140vh;
  }
  .page5 h1{
    font-size: 6vh;
    font-weight: 400;
    margin: 2vh 0;
  }
  .container{
    margin-top: 7vw;
    height: 120vh;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    padding: 0 2vh;
    gap: 0;
  }
  .left{
    padding: 2vw;
    gap: 10vh;
  }
  
  .lol{
    margin-top: 2vh;
    width: 40vh;
    height: 8vh;
    font-size: 3vh;
    font-weight: 600;
  }
  .message{
    margin-top: 2vh;
    width: 40vh;
    height: 15vh;
    font-size: 2vh;
    font-weight: 700;
  }
  .left button{
    filter: brightness(150%);
    margin-top: 3vh;
    font-size: 3vh;
    font-weight: 400;
    height: 8vh;
    width: 20vh;
  }
  .page5 h3{
    text-align: center;
    font-weight: 100;
    margin-top: 2vw;
    font-size: 1.2vw;
  }
  .right{
    padding: 0 3vh;
  }
  .upper{
    width: 100%;
    height: 30vh;
    gap: 5vh;
  }
  .locate, .phone, .mail{
    height: 5vh;
  }
  .locate h3, .phone h3{
    font-size: 2.3vh;
    font-weight: 400;
  }
  .mail a{
    font-size: 2.1vh;
  }
  .locate img, .phone img, .mail img{
    width: 4vh;
    height:4vh;
  }
  .icon{
    height: 12vh;
  }
  .icon img{
    width: 5vh;
    height: 5vh;
  }
  .right h2{
    margin-top: 5vh;
    font-weight: 400;
    font-size: 2vh;
  }
  .page5 h6{
    text-align: center;
    font-size: 1.8vh;
    font-weight: 300;
  }
  .deck{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10vh 1vh;
    display: none;
    flex-direction: column;
    height: 93vh;
    width: 60%;
    margin-top:0vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .deck h2{
    font-size: 4.2vh;
    text-transform: uppercase;
    line-height: 6vh;
    margin-bottom: 4vh;
    text-align: center;
  }
  .deckmenu{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .deckmenu a{
    text-decoration: none;
    color: white;
    font-size: 3.5vh;
    margin-top: 3.5vh;
  }
  .deck h6{
    margin-top: 20vh;
    font-weight: 400;
    font-size: 2vh;
    text-align: center;
  }
}