
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: aliceblue;
    overflow-x: hidden;
    background-color:#000000;
}
.loader{
  width: 100%;
  height: 100%;
  background-color: #001A14;
  position: relative;
  padding-top: 1px;
}
.loader h1{
  color: white;
  font-size: 7vw;
  font-weight: 900;
  text-align: center;
  margin:7vw 0 1vw 0;
  text-transform: uppercase;
}
.loader h2{
  text-align: center;
  font-size: 1.6vw;
  font-weight: 800;
}
.cont1{
  height: 15vh;
  display: flex;
  align-items: end;
  white-space: nowrap;
  margin-top: 6vw;
}
.cont1 h1{
  font-size: 3vw;
  color: transparent;
  -webkit-text-stroke: 1px white;
  animation-name: anime;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.journey{
  display: flex;
  font-size: 2vw;
  margin-top: 1vw;
  justify-content: center;
  gap: 10vw;
  text-transform: uppercase;
  align-items: center;
}
.journey h3{
  font-weight: 900;
}
.journey button {
  background-color: #036D59;
  color: white;
  border: 1px solid white;
  padding: 2vw 3vw;
  border-radius: 90px;
  box-shadow: 1px 0px 5px 1px white;
  font-size: 2vw;
  cursor: pointer;
}
.journey span {
  margin-left: 2.5vw;
  font-size: 2.6vw;
}
@keyframes anime {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}
.main{
  width: 100%;
  position: relative;
}
.page1{
  background-color: #001A14;
  width: 100%;
  height: 57vw;
  margin-top: -12vw;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 2vw;
  position: sticky;
  top: 0%;
  left: 0%;
  backdrop-filter: blur(10px);
  z-index: 999 !important;
}
.nav h1{
  font-size: 2vw;
  text-transform: uppercase;
}
.head{
  display: flex;
  align-items: center;
  gap: 2vw;
}
.head img{
  width: 6vw;
  height: 6vw;
}
.nav a{
  text-decoration: none;
  color: white;
  font-size: 1.3vw;
  text-transform: uppercase;

}
.menu{
  display: flex;
  gap: 3vw;
}
.cont2{
  margin-top: 5vw;
  padding: 0 2vw;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.bx1{
  height: 40vw;
  width: 40vw;
  position: relative;
  margin-top: 10vw;
}
.bx1 h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.bx1 video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid white;
  border-radius: 20%;
  box-shadow: 0px 0px 20px 1px white;
}
.bx2{
  margin-top: 12vw;
}
.bx2 h1{
  text-transform: uppercase;
  font-size: 2vw;
  margin-bottom: 3vw;
  line-height: 3vw;
}
.bx2 h2{
  font-size: 1.4vw;
  line-height: 2vw;
  font-weight: 200;
}
.bx3{
  height: 15vw;
  grid-column: 2;
  margin-top: -10vw;
}
.bx3 h4{
  font-size: 1.2vw;
  font-weight: 200;
}
.page2{
  background-color: #001A14;
  width: 100%;
  height: 60vw;
  margin-top: -10vw;
  padding-top: 1vw;
}
.page2 h1{
  display: flex;
  justify-self: center;
  font-size: 7vw;
  font-weight: 300;
  color: white;
  margin-top: 10vw;
  width: fit-content;
  text-transform: uppercase;
  padding-bottom: 1vw;
}
.page2 h3{
  font-size: 1.5vw;
  font-weight: 100;
  padding: 3vw;
}
.case{
  padding: 1vw 3vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.case1{
background: rgba(14, 110, 86, 0.47);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(20px);
position: relative;
border: 1px solid rgba(251, 255, 254, 0.99);
&:hover{
  background-color: rgba(14, 110, 86, 1);
  transition :all  ease-in-out 0.2s;
}
}
.box1 video{
  position: absolute;
  height: 12vw;
  width: 12vw;
  z-index: 999;
  border: 1px solid white ;
  box-shadow: 0px 0px 5px 1px white;
  object-fit: cover;
  border-radius: 50%;
  display: none;
}
.box2 video{
  position: absolute;
  height: 12vw;
  width: 12vw;
  z-index: 999;
  border: 1px solid white ;
  box-shadow: 0px 0px 5px 1px white;
  object-fit: cover;
  border-radius: 50%;
  display: none;
}
.box3 video{
  position: absolute;
  height: 12vw;
  width: 12vw;
  z-index: 999;
  border: 1px solid white ;
  box-shadow: 0px 0px 5px 1px white;
  object-fit: cover;
  border-radius: 50%;
  display: none;
}
.page3{
  width: 100%;
  height: 117vw;
  position: relative;
}
.bacimg{
  width: 100%;
  height: 100%;
  opacity: 0.7;
  filter: blur(4px);
  object-fit: cover;
  position:absolute;
}
.page3 h1{
  filter: brightness(1000%);
  text-transform: uppercase;
  font-size: 6vw;
  text-align: center;
  margin-top: 5vw;
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 2px white;
  &:hover{
    color: white;
    -webkit-text-stroke: none;
    font-weight: 200;
  }
}
.cont4{
  width: 100%;
  height: 84vw;
  display: grid;
  grid-template-columns: 33.33% 33.33% 34%;
  grid-template-rows: 50% 50%;
  padding: 0 2vw ;
  gap: 1vw;
  margin-top: 5vw;
}
.con3, .con1, .con2{
  width: 30vw;
  height: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(200px);
  box-shadow: 0px 0px 5px 1px white;
  border-radius: 50px;
}
.circle{
  margin-top: 1vw;
  width: 75%;
  border-radius: 50%;
  height: 57%;
  border: 1px solid white;
  box-shadow: 0px 0px 5px 1px white;
  position: relative;
}
.circle img{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  filter: brightness(20%);
}
.circle h2{
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5vw;
  text-transform: uppercase;
  width: 20vw;
  text-align: center;
  font-weight: 100;
}
.con1:hover, .con2:hover, .con3:hover{
  box-shadow: 0px 0px 10px 1px white;
  transform: scale(1.05);
}
.con1 h3, .con2 h3, .con3 h3{
  margin: 2vw 1vw 0 1vw;
  font-weight: 100;
  text-align: center;
  font-size: 1.35vw;
}
.con1 button, .con2 button, .con3 button{
  margin-top: 1vw;
  padding: 1vw 3vw;
  background-color: white;
  border: 1px solid black;
  border-radius: 50px;
  font-size: 1.3vw;
  font-weight:200;
  cursor: pointer;
}
.marque{
  display: flex;
  flex-direction: column;
}
.mark1{
  height: 7vw;
  margin-top: 4vw;
  white-space: nowrap;
  display: flex;
  align-items: end;
  overflow: hidden;
}
.mark1 h1{
  animation: anim1 10s infinite linear;
}
.mark2 h1{
  animation: anim2 10s infinite linear;
}
.mark2{
  height: 7vw;
  white-space: nowrap;
  display: flex;
  align-items: end;
  overflow: hidden;
}
@keyframes anim1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
  
}
@keyframes anim2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.page4{
  width: 100%;
  height: 80vw;
  background-color: #001A14;
  padding-top: 1px;
}
.page4 h1{
  text-align: center;
  font-size: 6vw;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 3vw;
}
.mem1{
  display: flex;
  width: 100%;
  height: 10vw;
  margin-top: 8vw;
  align-items: center;
  padding: 0 2vw 0 5vw;
}
.mem3{
  display: flex;
  width: 100%;
  height: 10vw;
  margin-top: 5vw;
  align-items: center;
  padding: 0 2vw 0 5vw;
}
.pic{
  width: 15vw;
  height: 15vw;
  border: 5px double white;
  border-radius: 50%;
  z-index: 9;
}
.pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.det{
  background-color: #02372e;
  width: 87%;
  height: 10vw;
  padding: 1vw 6vw;
  margin-left: -4vw;
  border-radius:40px ;
}
.det h1{
  margin-top: 0vw;
  text-align: start;
  font-size: 1.5vw;
}
.det h3{
  text-align: start;
  font-size: 1.1vw;
  font-weight: 100;
}
.det h5{
  margin-top: 1vw;
  font-size: 1vw;
  font-weight: 100;
}
.mem2, .mem4{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 10vw;
  margin-top: 5vw;
  align-items: center;
  padding: 0 2vw 0 5vw;
}
.det2{
  background-color: #02372e;
  width: 87%;
  height: 10vw;
  padding: 1vw 6vw;
  margin-right: -3vw;
  border-radius:40px ;
}
.det2 h1{
  margin-top: 0vw;
  text-align:end;
  font-size: 1.5vw;
}
.det2 h3{
  text-align: end;
  font-size: 1.1vw;
  font-weight: 100;
}
.det2 h5{
  text-align:start;
  margin-top: 1vw;
  font-size: 1vw;
  font-weight: 100;
}
.page5{
  width: 100%;
  height: 57vw;
  background-color: #0f0e0e;
  padding-top: 1px;
}
.page5 h1{
  text-align: center;
  font-size: 6vw;
  font-weight: 200;
  text-transform: uppercase;
  margin: 2vw 0;
}
.container{
  margin-top: 7vw;
  width: 100%;
  height: 35vw;
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 2vw;
  gap: 1vw;
}
.left{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  gap: 2vw;
}

.lol{
  width: 35vw;
  height: 5vw;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-size: 1.5vw;
  font-weight: 900;
}
.message{
  width: 35vw;
  height: 10vw;
  border-radius: 20px;
  border: none;
  text-align:center;
  font-size: 1.5vw;
  font-weight: 900;
}
.left button{
  border-radius: 20px;
  font-size: 1.6vw;
  text-transform: uppercase;
  font-weight: 100;
  border: none;
  background-color: rgb(96, 124, 156);
  color: white;
  height: 4vw;
  width: 12vw;
}
form{
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
}
.page5 h3{
  text-align: center;
  font-weight: 100;
  margin-top: 2vw;
  font-size: 1.2vw;
}
.right{
  padding: 0 4vw;
}
.upper{
  width: 100%;
  height: 18vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  border-bottom: 1px solid white;
}
.locate{
  height: 5vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.locate h3{
  font-size: 2vw;
  text-transform: uppercase;
  margin-top: 0vw;
}
.phone{
  height: 5vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.phone h3{
  font-size: 2vw;
  text-transform: uppercase;
  margin-top: 0vw;
}
.mail{
  height: 5vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mail a{
  font-size: 1.7vw;
  text-decoration: none;
  color: white;
  margin-top: 0vw;
}
.icon{
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid white;
}
.icon img{
  width: 4vw;
  height: 4vw;
}
.right h2{
  margin-top: 3vw;
  font-weight: 100;
  font-size: 1.3vw;
  text-transform: uppercase;
  text-align: center;
}